/*Green (light to dark) #00e600,  #006600 */
/*White to Black  */

:root {
    --MAIN-TEXT-color: #f2f2f2;
    /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #ffffff;
    /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #f2f2f2;
    /* Color of links */
    --MAIN-LINK-HOVER-color: #f2f2f2;
    /* Color of hovered links */
    --MAIN-ANCHOR-color: #b30000;
    /* color of anchors on titles */
    --MENU-HEADER-BG-color: #b30000;
    /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #cc0000;
    /*Color of menu header border */
    --MENU-SEARCH-BG-color: #1a1a1a;
    /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #f2f2f2;
    /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #f2f2f2;
    /* Override search field icons color */
    --MENU-SECTIONS-ACTIVE-BG-color: #404040;
    /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #404040;
    /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #f2f2f2;
    /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #ffffff;
    /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #ffffff;
    /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #999999;
    /* Color of background for the active category (only) */
    --MENU-VISITED-color: #f2f2f2;
    /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #1a1a1a;
    /* Color of <hr> separator in menu */
}

/* @import "tags.css";*/

body {
    background-color: #1a1a1a;
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}


/*#sidebar ul li.visited>a .read-icon {
    color: var(--MENU-VISITED-color);
}*/

#body a.highlight:after {
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#body-inner hr {
    border-color: #ffffff;
}

#body #navigation .nav-prev {
    background-color: #1a1a1a;
}

#body #navigation .nav-next {
    background-color: #1a1a1a;
}

#top-github-link, #body #breadcrumbs {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#body #breadcrumbs {
    height: auto;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    float: left;
}
#body #breadcrumbs span {
    padding: 0 0.1rem;
}

#top-bar {
    background-color: #1a1a1a;
    border-radius: 2px;
    padding: 0 1rem;
    height: 0;
    min-height: 3rem;
}

#navigation {
    background-color: #1a1a1a;
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#body-inner h1 {
    border-color: #ffffff;
}

#sidebar #homelinks {
    background-color: #404040;
    border-color: #404040;
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#header-wrapper ::placeholder {
    color: #f2f2f2;
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active>a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

blockquote {
    border-left: 10px solid #ff9999;
}
blockquote p {
    font-size: 1.1rem;
    color: #ff6666;
}
blockquote cite {
    display: block;
    text-align: right;
    color: #cc0000;
    font-size: 1.2rem;
}

#top-bar {
    background: #1a1a1a;
    border-radius: 2px;
    padding: 0 1rem;
    height: 0;
    min-height: 3rem;
}

#top-bar progress {
    color: #f2f2f2;
}